html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #10083B;
  background-image: url("/images/bg2.png");
  background-position: right;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 13px;
  }
}
