.hero {
  height: auto;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
  background-color: black;
  opacity: 1;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0,0,255,0.3));
  margin-top: -10px;

  @include breakpoint(mobile) {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  &-logo {
    width: 270px;
    animation: bounce 1.4s infinite ease-out alternate;

    @include breakpoint(mobile) {
      width: 150px;
      margin-top: 70px;
    }
  }

  &-title {
    font-size: 70px;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: center;

    @include breakpoint(mobile) {
      font-size: 30px;
    }
  }

  &-subtitle {
    color: rgba(white, 0.7);
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 40px;

    @include breakpoint(mobile) {
      font-size: 16px;
    }
  }

  .btn {
    @include breakpoint(mobile) {
      display: block;
      margin-bottom: 15px;
    }
  }

  &-social {
    margin-top: 40px;

    @include breakpoint(mobile) {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    a {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 150px;
      transform: rotateY(180deg);
    }

    .shape-fill {
      fill: #ffffff;
    }
  }
}
